<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="OpAn.NuGet" value="https://nuget.pkg.github.com/OpAnFramework/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <OpAn.NuGet>
            <add key="Username" value="%NUGET_OWNER_USERNAME%"/>
            <add key="ClearTextPassword" value="%FULL_PACKAGE_CONTROL_PAT%"/>
        </OpAn.NuGet>
    </packageSourceCredentials>
</configuration>